body{
    font-family: Roboto, arial, helvetica, sans-serif;
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;   
}
body::-webkit-scrollbar{
    display:none;
}

main{
    position: absolute;
    top: 0px; 
    bottom: 0px;
    width: 100%;
}

h3{
}

#engagor::-webkit-scrollbar, #creator::-webkit-scrollbar, #moderator::-webkit-scrollbar{
    display:none;
}
    #creator {      
    position: absolute;
    top: 10%;
    bottom: 0;
    left: .5%;
    overflow-y: scroll;
    max-width: 500px;
    }
  
    #engagor {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 33.75%;
    overflow-y: scroll; 
    max-width: 500px;
    max-height: 500px;
    }
    
    #moderator {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 67%;
    right: .5%;
    overflow-y: scroll;
    max-width: 500px;
    }
