body{
    font-family: Roboto, arial, helvetica, sans-serif;
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;   
}
body::-webkit-scrollbar{
    display:none;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 10px 0px;
    border-bottom: 2px solid #555;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    max-width: 100%;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin: 70px 0px 0px 10px;
}

#engagor::-webkit-scrollbar, #creator::-webkit-scrollbar, #moderator::-webkit-scrollbar{
    display:none;
}
    #creator {      
    position: absolute;
    top: 15%;
    bottom: 0;
    left: .5%;
    overflow-y: scroll;
    max-width: 500px;
    }
  
    #engagor {
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 33.75%;
    overflow-y: scroll; 
    max-width: 500px;
    }
    
    #moderator {
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 67%;
    right: .5%;
    overflow-y: scroll;
    max-width: 500px;
    }
