body{
    font-family: Roboto, arial, helvetica, sans-serif;
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; 
}
.main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 100px 0px 0px 0px;
}
.bets{
    grid-column-start: 3;
    grid-column-end: 6;
}
.bet{
    height: 50px;
    background-color: #555;
    border-radius: 3px; 
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.thing{
    background-color: #c2c2c2;
    border-radius: 3px; 
    padding: 8px;
}
#eventname{
    grid-column-start: 1;
    grid-column-end: 2; 
    margin: 0px 0px 0px 10px;
}
#amount{
/*     grid-column-start: 3; */
    grid-column-end: 6;
    margin: 0px 10px 0px 0px;
}