body{
    font-family: Roboto, arial, helvetica, sans-serif;
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; 
}
.main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 100px 0px 0px 0px;
}
.bets{
    grid-column-start: 3;
    grid-column-end: 6;
}
.bet{
    height: 50px;
    background-color: #555;
    border-radius: 3px; 
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.eventname{
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    margin: 0px 0px 0px 10px;
}
#y_n{
    grid-column-start: 3;
    align-self: center;
    margin: 0px 0px 0px 0px;
}
#amount{
    grid-column-start: 5;
    align-self: center;
    margin: 0px 10px 0px 0px;
}

.agreement{
    border: 2px solid #555;
    border-radius: 3px; 
    padding: 8px;
    margin: 0px 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.agree-btn{
    grid-column-start: 3;
}
.reject-btn{
    grid-column-start: 4;
}
button{
    padding: 5px;
}
.eventname:hover, .username:hover, #accept-Btn:hover, #cant-accept-Btn:hover{
    color: lightblue;
    text-decoration: none;
    cursor: pointer;
}