body{
    font-family: Roboto, arial, helvetica, sans-serif;
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    
}

body::-webkit-scrollbar{
    display:none;
}
.title{
    grid-column-start: 1;
    grid-column-end: 7;
    margin: 0px 0px 20px 0px;
}

.main{
    display: grid;
    margin: 100px 0px 0px 0px;
    grid-template-columns: repeat(10, 1fr);
}
.bets{
    grid-column-start: 2;
    grid-column-end: 6;
}

.make-bet{
    max-height: 250px;
    border-radius: 3px; 
    border: 2px solid #555;
    margin: 0px 25px 0px 25px;
    position: absolute;
    top: 14%;
    bottom: 0;
    left: 60%;
    right: .5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.label{
    grid-column-start: 1;
    max-width: 50px;
    margin: 0px 0px 0px 10px;
    align-self: end;
}
.input{
    grid-column-start: 1;
    max-width: 200px;
    max-height: 20px;
    margin: 0px 0px 15px 30px;
    position: relative;
    top: 40px;
    align-self: end;
}
.bet_amount{
    grid-row-start: 1;
}

form{
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: end;
}

#error{ color: red }

#create{
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: 150px;
    max-height: 40px;
    margin: 10px 0px 0px 40px; 
}

  
