body{
    font-family: Roboto, arial, helvetica, sans-serif;
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    
}

body::-webkit-scrollbar{
    display:none;
}

.main{
    display: grid;
    margin: 100px 0px 0px 0px;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
.bets{
    grid-column-start: 3;
    grid-column-end: 7;
}

#heading{
    margin: 10px 0px 0px 10px;
}

.make-bet{
    grid-column-start: 7;
    grid-column-end: 11;
    max-height: 250px;
    min-height: 250px;
    border-radius: 3px; 
    border: 2px solid #555;
    margin: 0px 25px 0px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.label{
    grid-column-start: 1;
    max-width: 50px;
    margin: 0px 0px 0px 10px;
}
.input{
    /* border-radius: 3px; */
    grid-column-start: 1;
    max-width: 200px;
    max-height: 20px;
    margin: 0px 0px 0px 30px;
    position: relative;
    top: 40px;
}

#error{ color: red }

.event_name{
    grid-row-start: 2;
}
.mod_name{
    grid-row-start: 3;
}

#create{
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: 150px;
    max-height: 40px;
    margin: 10px 0px 0px 40px; 
}



  
