<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bet.css') }}">
<div class="bet">

    <span class="eventname" onclick="eventname(this);" id='{{ bet.event_name }}'>{{ bet.event_name }}</span>
    <h3 id="amount">{{ bet.amount }}</h3>

    {% if bet.y_n %}
    <h3 id="y_n">Yes</h3>
    {% else %}
    <h3 id="y_n">No</h3>
    {% endif %}

    <span class="username" onclick="user(this);" id='{{ bet.creator.username }}'>{{ bet.creator.username }}</span>
    <div class='tracker' id='{{ bet.id }}'>
        <span class="first-stage"></span>
    </div>
    
    {% if bet is in current_user.bets_created or bet is in current_user.bets_engaged_in %}
        <script>document.getElementById('{{ bet.id }}').getElementsByClassName('first-stage')[0].style.backgroundColor = 'lightblue';</script>
    {% endif %}

    {% if user is not defined %}
        <img onclick="openModal();" class='engage' onmouseover="hover(this)" onmouseout="not_hover(this)" 
        src="{{ url_for('static', filename='img/handshake.png') }}"></img>
    {% elif current_user == bet.creator %}
        <h3 class="engage">Same Person</h3>
    {% elif bet is in current_user.bets_engaged_in %}
        <h3 class="engage">Already Engaged</h3>
    {% elif bet.event.moderator_id == current_user.id %}
        <h3 class="engage">Moderator of This Event</h3>
    {% else %}
        <img onclick="accept(this);" class='engage' name='{{ bet.id }}' onmouseover="hover(this)" onmouseout="not_hover(this)" 
        src="{{ url_for('static', filename='img/handshake.png') }}"></img>
    {% endif %}
</div>
