<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bet.css') }}">
<div class="bet">

    <span class="eventname" onclick="eventname(this);" id='{{ bet.event_name }}'>{{ bet.event_name }}</span>

    <h3 id="amount">{{ bet.bet_amount }}</h3>

    <span class="username" onclick="user(this);" id='{{ bet.creator.username }}'>{{ bet.creator.username }}</span>

    {% if user is not defined %}
    <button onclick="openModal();" id='cant-accept-Btn'>I'll Take You Up</button>
    {% elif user.username == bet.creator.username %}
    <h3 id="same-person">Same Person</h3>
    {% else %}
    <button onclick="accept(this);" id='{{ bet.id }}'>I'll Take You Up</button>
    {% endif %}
</div>