<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bets_engaged_in.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bet.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Bet</title>
<link rel="shortcut icon"
    href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
<!--     Nav Bar     -->
        {% include 'nav.html' %}
<!--     Main        -->
        <main>
            <div id="creator">
                <h3>Creator</h3>
                {% for bet in bets_created %}
                    {% include 'bet.html' %}
                {% endfor %}
            </div>

            
            <div id="engagor">
                <h3>Engagor</h3>
            {% for bet in bets_engaged_in %}
                {% include 'bet.html' %}
            {% endfor %}
            </div>

            
            <div id="moderator">
                <h3>Moderator</h3>
                {% for bet in events_moderated %}
                    {% include 'bet.html' %}
                {% endfor %}
            </div>

        </main>
    </body>
    <script type=text/javascript src="{{url_for('static', filename='js/homepage.js')}}"></script>
</html>
