<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/created_bets.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Bet</title>
<link rel="shortcut icon"
    href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
<!--     Nav Bar     -->
        {% include 'nav.html' %}
<!--    Under the Nav              -->
        <div class='main'>
<!--    Bets              -->
            <div class="bets">
            {% for bet in bets %}
                <div class="bet">
                    <span class="eventname" onclick="eventname(this);" id='{{ bet.event_name }}'>{{ bet.event_name }}</span>

                    {% if bet.y_n %}
                    <span id="y_n">Yes</span>
                    {% else %}
                    <span id="y_n">No</span>
                    {% endif %}

                    <span id="amount">{{ bet.bet_amount }}</span>
                   
                </div>
                {% for agreement in bet.agreements %}
                        <div class="agreement">
                            <span class="username"> {{ agreement.engagor.username }}</span>
                            <button class='agree-btn' engagor_id='{{ agreement.engagor.id }}' onclick="agree(this);" id='{{ bet.id }}'>Agree</button>
                            <button class='reject-btn' engagor_id='{{ agreement.engagor.id }}' onclick="reject(this);" id='{{ bet.id }}'>Reject</button>
                        </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </body>
    <script type=text/javascript src="{{url_for('static', filename='js/homepage.js')}}"></script>
</html>
