<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event_page.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Bet</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
<!--     Nav Bar     -->
        {% include 'nav.html' %}
<!--    Under the Nav              -->
        <div class='main'>
                {% if condition %}
                <h1>This Event Does Not Exist</h1>
                {% else %}
            <h1 class='title' id='bet_event_name' name='{{eventname}}'>
                Event Name: {{event.name}}
            </h1>
            <h1 class='title'>
                Creator Name: {{event.creator_id}}
            </h1>
            <h1 class='title'>
                Moderator Name: *Moderator*
            </h1>
            <h1 class='title'>
                What Does Yes Mean?: .....
            </h1>
            <h1 class='title'>
                What Does No Mean?: .....
            </h1>
<!--    Bets              -->
        <div class="bets">
            {% for bet in bets %}
                {% include 'bet.html' %}
            {% endfor %}
        </div>
<!--    Create a Bet              -->
            <div class="make-bet">
                <span class="label bet_amount">Bet Amount</span>
                <input type=number class="input bet_amount" id=bet_amount placeholder="&nbsp;" autocomplete="off">
                <div id="error"></div>

                <form>
                    <input type="radio" id="yes" name="y_n" value="Yes">
                    <label for="male">Yes</label><br>
                    <input type="radio" id="no" name="y_n" value="No">
                    <label for="female">No</label><br>
                </form>
                        
                <button id=create onclick="create_bet();">Create</button>
            </div>
        </div>
    </body>
{% endif %}
    <script type=text/javascript src="{{url_for('static', filename='js/homepage.js')}}"></script>
</html>
