<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event_page.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Bet</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
<!--     Nav Bar     -->
        {% include 'nav.html' %}
<!--    Under the Nav              -->
        <div class='main'>
                {% if condition %}
                <h1 style='position: absolute;top: 50%;left: 40%;'>This Event Does Not Exist</h1>
                {% else %}
<!--    Title Card             -->
            <div class='title-card'>
                <h1 class='bet_event_name' name='{{event.name}}'>
                    {{event.name}}
                </h1>
                <span class='bet_creator-1'>
                    ~ Created By:
                </span>
                <span class='bet_creator-2' onclick="user(this);" id='{{event.creator.username}} '>
                    {{event.creator.username}} 
                </span>
                <span class='bet_moderator-1'>
                    ~ Moderated By:
                </span>
                <span class='bet_moderator-2' onclick="user(this);" id='{{event.moderator.username}}'>
                    {{event.moderator.username}}
                </span>
                <span id='explanation'>
                    explanation of event & what a bet for YES and NO means
                </span>
            </div>
<!--    Create a Bet              -->
            {% if (event.decision == None) %}
            <div class="make-bet">
                <span class="label bet_amount">Bet Amount</span>
                <input type=number class="input bet_amount" id=bet_amount placeholder="&nbsp;" autocomplete="off">
                <div id="error"></div>

                <form>
                    <input type="radio" id="yes" name="y_n" value="Yes">
                    <label for="male">Yes</label><br>
                    <input type="radio" id="no" name="y_n" value="No">
                    <label for="female">No</label><br>
                </form>
                        
                <button class=create id='{{ event.id }}' onclick="create_bet();">Create</button>
            </div>
            {% endif %}
<!--    Bets              -->
            <div class="bets">
                {% for bet in bets %}
                    {% include 'bet.html' %}
                {% endfor %}
            </div>
<!--    Moderator Yes or No              -->
            {% if (current_user.id == event.moderator.id) and (event.decision == None) %}
                <div class="mod-station">  
                    <h1>Moderator Station</h1>
                    <button onclick="decide(this);" decider='true' id='{{ event.id }}'>Yes</button>
                    <button onclick="decide(this);" decider='false' id='{{ event.id }}'>No</button>
                </div>
            {% endif %}
        </div>
    </body>
{% endif %}
    <script type=text/javascript src="{{url_for('static', filename='js/homepage.js')}}"></script>
</html>
