<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/not_logged.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bet.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Bet</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
<!--     Nav Bar     -->
        <div class="nav-bar">
            <h1 id="logo">BET</h1>
        <ul class='nav-out'>
            <button id="sign-up-Btn" class="button">Sign Up</button>
            <button id='login-Btn'>Log In</button>
        </ul>
        </div>
<!--    Log In Dialog      -->
        <div id="login-modal">
            <div class="modal-content">
                <span class="closeBtn">&times;</span>
                <h2>Log In</h2>
                <section>
                        <span class="label">Username</span>
                        <input type="text" id=username name=username placeholder="&nbsp;" autocomplete="off">
                    
                        <span class="label">Password</span>
                        <input type="password" id=password name=password placeholder="&nbsp;" autocomplete="off">

                        <button onclick="login();">Log In</button>
                </section>
                <span id="need_to_sign_up">Don't Have an Account?</span>
            </div>
        </div>
<!--    Sign Up Dialog      -->
        <div id="sign-up-modal">
            <div class="modal-content">
                <span class="closeBtn">&times;</span>
                <h2>Sign Up</h2>
                <section>
                    <div id="error"></div>
                        <span class="label">Username</span>
                        <input type="text" id=new_username name=username placeholder="&nbsp;" autocomplete="off">
                        
                        <span class="label">Password</span>
                        <input type="password" id=new_password name=password placeholder="&nbsp;" autocomplete="off">
                        
                        <button onclick="sign_up();">Sign Up</button>
                </section>
                <span id="already_has_account">Already Have An Account?</span>
            </div>
        </div>
<!--    Under the Nav              -->
        <div class='main'>
<!--    Bets              -->
            <div class="bets">
                {% for bet in bets %}
                    {% include 'bet.html' %}
                {% endfor %}
            </div>
        </div>
    </body>
    <script type=text/javascript src="{{url_for('static', filename='js/not_logged_in_homepage.js')}}"></script>
</html>
