<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<title>Bet</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
    <body>
<!--     Nav Bar     -->
        {% include 'nav.html' %}
<!--    Under the Nav              -->
        <div class='main'>
<!--    Bets              -->
                {% for event in events %}
                <span class="event_name" onclick="eventname(this);" id='{{event.name}}'>{{event.name}}</span>
                <div class="bets">
                        {% for bet in event.bets %}
                            {% include 'bet.html' %}
                        {% endfor %}
                </div>
                {% endfor %}
        </div>
    </body>
    <script type=text/javascript src="{{url_for('static', filename='js/homepage.js')}}"></script>
</html>
